textarea {
	border: none;
	outline: 1px solid darkgray;
	border-radius: 4px;
	font-size: 1.05em;
	font-family: inherit;
}

input {
	height: 2em;
	font-size: 1.05em;
	border: none;
	outline: 1px solid darkgray;
	border-radius: 4px;
}
