textarea {
	border: none;
	outline: 1px solid darkgray;
	border-radius: 4px;
	font-size: 1.05em;
	font-family: inherit;
}

input {
	height: 2em;
	font-size: 1.05em;
	border: none;
	outline: 1px solid darkgray;
	border-radius: 4px;
}

textarea.error,
input.error {
	outline: 1px solid red;
}

textarea.selected,
input.selected {
	outline: 2px solid var(--accent);
}

.error.selected {
	outline: 2px solid red;
}

.selected--text {
	color: var(--accent);
}

.error--text {
	color: red;
}
